// components
@import "./components/link-header";


// pages
@import "./pages/main_page";


// colors
$default_color: #707070;


// sizes
$default_size: 16px;
$h1_size: 28px;
$h3_size: 18px;
$price_size: 20px;
$category_size: 14px;
$bonus_size: 12px;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.font-weight-bold {
  font-weight: 700 !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-underline {
  text-decoration: underline;
}
.text-throughline {
  text-decoration: line-through;
}

// GLOBAL STYLES

// Grid
.overflow-auto {
  overflow: auto;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

// Test

#StyleTesting {
  h4 {
    //font-family: Ubuntu;
    font-weight: 100;
  }
  .col-4 {
    background-color: #acacac;
    border: 1px solid black;
  }
}


// default
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Ubuntu, 'sans-serif', Verdana;
  font-weight: 100;
  color: $default_color;
}
