.main {
  &-carousel {
    &-slider {
      padding-bottom: 50%;
      background-size: cover;
      background-position: center;
    }
  }
  &-popular {
    &-products {
      background-color: #ebebeb;
      .swiper-container {
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
  &-title {
    font-size: 18px;
    line-height: 0.89;
    letter-spacing: normal;
    font-weight: lighter;
    color: $text_color;
    background-color: white;
    padding: 1.33em 0;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
  }
}
