.category-card {
  width: 180px;
  height: 180px;
  margin: 5px;
  border-radius: 4px;
  position: relative;
  background-color: white;
  border: solid 1px $border_color;
  cursor: pointer;
  &:hover {
    .category-card-border {
      width: 180px;
    }
    svg {
      width: auto !important;
      path{
        fill: currentcolor !important;
      }
    }

  }
  &-info {
    width: 129px;
  }
  &-img {

  }
  &-text {
    margin-top: 20px;
    height: 32px;
    font-size: 14px;
  }
  &-border{
    position: absolute;
    width: 100px;
    transition: 0.4s;
    height: 4px;
    bottom: -1px;
    border-radius: 10px;
    background-color: $brand_darker;
  }
}
