@import "../variables";
.category-card {
  width: 180px;
  height: 180px;
  margin: 5px;
  border-radius: 4px;
  position: relative;
  background-color: white;
  border: solid 1px $border_color;
  &-discount {
    width: 400px;
    height: 200px;
    background-color: $white_color;

  }
  &-info {
    width: 129px;
  }
  &-img {

  }
  &-text {
    margin-top: 20px;
    height: 32px;
    font-size: 14px;
  }
  &-border{
    position: absolute;
    width: 100px;
    height: 4px;
    bottom: 0;
    border-radius: 10px;
    background-color: $brand_darker;
  }
}
